/* CSS Resets */

* {
  margin: 0;
  font-size: 100%;
  line-height: 140%;
  list-style: none;
  box-sizing: border-box;
  /* vertical-align: baseline; */
}

a {
  text-decoration: none;
}

body {

  margin: 0;
  background-color: #F7F7F7;
}

header, footer{
  max-width: 100%;
  margin: auto;
  text-align: center;
  border: 1px solid red;

}

header img {
  max-width: 100%;
  max-height: 100%;
}



footer {
  margin-top: 20px;
}

nav {
  width: 1260px;
  margin: auto;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  border: 1px solid red;
}

nav a {
  list-style-type: none;
}



h1 {
  font-family: "Helvetica", Arial, san-serif;
  font-size: 1.4em;
}

figcaption {
  text-align: center;
}

/* CSS Grid */

.grid-container {
  width: 1260px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em 1em;
  margin: auto;
}

.grid-item
 {
  border: 1px solid white;
  padding: 1em;
  box-shadow: 0 2px 8px rgba(214, 214, 214, 0.692);
  border-radius: 10px;
}


.grid-item img{
  width: 100%;
  height: inherit;
  padding-top: 0.5em;
}


.overlay-ctn {
  position: relative;
  width: 100%;
  /* background-color: blue; */
}

.overlay {
  position: absolute;
  bottom: 0;
  background: #3cdcd2;
  background: #3cdcd2; /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.overlay-ctn:hover .overlay {
  opacity: 1;
}



@media screen and (max-width: 992px){
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 1em;
    width: auto;
  }


  header, nav, footer  {
    max-width: 100%;
    height: inherit;
    margin: 0;
  }
  nav {
    margin-bottom: 20px;
  }

  footer {
    margin-top: 20px;
  }


}

@media screen and (max-width: 599px){
  .grid-container {
    grid-template-columns: 1fr;
  }




}
